/* css for the navigation bar */
.jfx-tab-pane .headers-region {
    -fx-background-color: #249677;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #249677;
}
.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill :#9ACD32;
}
.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #9ACD32;
}

/* buttons */
.jfx-button {
    -jfx-button-type: FLAT;
    -fx-background-color: #29AB87;
}

.jfx-button .jfx-rippler{
    -jfx-rippler-fill :#9ACD32;
}

/* toggle buttons */
.jfx-toggle-node {
    -jfx-toggle-color: #38cfa5;
    -jfx-untoggle-color: #29AB87;
}
.jfx-toggle-node .jfx-rippler{
    -jfx-rippler-fill :#9ACD32;
}

/* background of the root */
.root{
    -fx-background-color: #b8ebad;

}


